* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > header{
    background-color: blue;
    padding: 16px 0;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a{
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
    margin-bottom: 16px;
}

.articles article img{
    width: 100%;
}

section{
    padding: 16px 0;
}

section h2{
    margin-bottom: 16px;
    font-size: 1.9em;
}

.articles article h3{
    margin: 8px 0;
}

.articles article a{
    background-color: red;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, .articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 1.3em;
}

#esportes{
    background-color: rgba(8, 98, 177, 0.1);
}

#esportes .articles article a{
    background-color: rgb(126, 126, 245);
    color: white;
}

#economia {
    background-color: rgba(30, 158, 30, 0.116);
}

#economia .articles article a{
    background-color: rgb(84, 155, 84);
    color: white;
}

#entretenimento{
    background-color: rgba(214, 45, 45, 0.297);
}